.App {
  margin: 0%;
  padding: 0%;
  text-align: center;
}
.Feed {
  height: 50%;
  display: flex;
  border: 1px solid rgba(39, 57, 61, 1);
  box-sizing: border-box;
}
.FeedThread {
  flex: 25%;
  padding: 0px;
  background-color: rgba(39, 57, 61, 1);
}
.FeedThread.FeedVideo {
}
.FeedThread img {
  max-width: 100%;
  height: auto;
}
.title {
  font-weight: bold;
}
form input {
  text-align: center;
}
#formText {
  color: rgba(25, 157, 116, 1);
}
#formText inpu {
  border-bottom-color: rgba(25, 157, 116, 1);
}
#main {
  background-color: rgba(39, 57, 61, 1);
}
#search {
  width: 100%;
  padding-left: -5;
  padding-right: -5;
  background-color: rgba(39, 57, 61, 1);
}
